.app-header {
   padding: 35px 0;
   &__body {
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-height: 64px;
      max-height: 64px;
   }
   &__logo img {
      width: 64px;
      height: 64px;
      object-fit: contain;
   }
}

@media (max-width: 585px) {
   .app-header {
      padding: 25px 0;
   }
}
