.filters {
   .Input,
   .Select {
      font-family: "Roboto Regular";
      font-size: 13px;
      @include lh(15, 13);
      color: var(--main-color);
   }
}

.spinner svg{
   margin: auto;
   background: none;
   display: block;
   shape-rendering: auto;
}
