.filters {
   font-family: "Roboto Regular";
   font-size: 13px;
   @include lh(15, 13);
   &__body {
      display: flex;
      & > *:not(:last-child) {
         margin: 0px 20px 0px 0px;
      }
   }
}
