.icon {
   &__theme {
      width: 20px;
      height: 20px;
      fill: var(--main-color);
   }
   &__arrow {
      width: 10px;
      height: 6px;
      fill: $disabled;
   }
   &__p-arrow {
      width: 6px;
      height: 10px;
      &--r {
         transform: rotate(180deg);
      }
   }
   &__p-doubleArrow {
      width: 10px;
      height: 10px;
      &--r {
         transform: rotate(180deg);
      }
   }
}
