.PaginationPage {
   width: 41px;
   height: 41px;
   display: flex;
   justify-content: center;
   align-items: center;
   user-select: none;
   cursor: pointer;
   border: 1px solid var(--main-color);
   border-right: none;
   background: inherit;
   font-family: "Roboto Medium";
   font-size: 18px;
   color: inherit;
   &:first-of-type {
      border-radius: 8px 0 0 8px;
      cursor: pointer;
   }
   &:last-child {
      border-radius: 0 8px 8px 0;
      border-right: 1px solid;
      cursor: pointer;
   }
   &:only-child {
      border-radius: 8px;
   }
   &:hover {
      background: var(--pagination-hover);
      border-color: var(--main-color);
   }
   &:disabled {
      border-color: $disabled;
      svg {
         fill: $disabled;
      }

      &:hover {
         cursor: auto;
         background: inherit;
      }
   }
   &.PaginationPageWithActive {
      background: var(--main-color);
      color: var(--background-color);
      border-color: var(--main-color);
      &:hover {
         cursor: auto;
         background: var(--main-color);
         color: var(--background-color);
         border-color: var(--main-color);
      }
   }
}
