body {
   background: var(--background-color);
   scroll-behavior: smooth;
}

h2 {
   font-family: "Roboto Bold";
   font-size: 18px;
   @include lh(20, 18);
   color: var(--main-color);
}



/* ----------------CONTAINER------------------------------------------------- */

._container {
   max-width: 1150px;
   padding: 0 15px;
   margin: 0 auto;
}

/* ----------------MEDIA------------------------------------------------- */
