body {
   background: var(--background-color);
   scroll-behavior: smooth;
   color: var(--main-color);
}

h2 {
   font-family: "Roboto Bold";
   font-size: 18px;
   @include lh(20, 18);
}

strong {
   font-family: "Roboto Medium";
   font-size: 13px;
   @include lh(20, 13);
}

/* ----------------CONTAINER------------------------------------------------- */

._container {
   max-width: 1150px;
   padding: 0 15px;
   margin: 0 auto;
}

/* ----------------MEDIA------------------------------------------------- */
